<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487544796493-m7brflftrj5dq4ip85ro59mtjqse6fut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487544796493-m7brflftrj5dq4ip85ro59mtjqse6fut</string>
	<key>API_KEY</key>
	<string>AIzaSyDhcFQDw_p1Q26Qofb6Fvggrkv9TQ36iTo</string>
	<key>GCM_SENDER_ID</key>
	<string>487544796493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ga.trashbingames.storytailor</string>
	<key>PROJECT_ID</key>
	<string>visual-novel-creator</string>
	<key>STORAGE_BUCKET</key>
	<string>visual-novel-creator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487544796493:ios:ca4c4e7af8a74f0dcf3304</string>
</dict>
</plist>